.DS_Store
*.psd
*.jpg
*.jpeg
*thumb*
*.icloud
*.sketch
Episodes/*
Fonts/*
*/Academy Award Best Picture/*
*/Blue Sky Studios/*
*/DC Universe Animated Movies/*
*/DreamWorks Animation/*
*/Marvel/*
*/Misc/*
*/Peanuts/*
Reference/*
Seasons/*
Shorts/*
Shows/*
*/X/*
Movies/Fantasm Comes Again (1977).png
Movies/Frauline Devil (1977).png
Movies/Librianna Bitch of the Black Sea (1979).png
Movies/Oscar's Handmade Halloween (2023).png
Movies/Frauline Devil (1977).png
Movies/Librianna Bitch of the Black Sea (1979).png
Movies/Oscar's Handmade Halloween (2023).png
