.DS_Store
*.psd
*.jpg
*.jpeg
*thumb*
*.icloud
*.sketch
Episodes/*
Fonts/*
*/Academy Award Best Picture/*
*/Blue Sky Studios/*
*/DC Universe Animated Movies/*
*/DreamWorks Animation/*
*/Marvel/*
*/Misc/*
*/Peanuts/*
Reference/*
Seasons/*
Shorts/*
Shows/*
*/X/*